div ul {
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

.btnCambioColor {
    color: white;
    background-color: green;
    border-color: white;
}

.btnCambioColor:hover {
    color: white;
    background-color: blue;
    border-color: white;
}