<div class="containerfluid">
    <div class="row mt-5">
        <div class="col">
            <div class="d-flex justify-content-center h-100">
                <div class="card" id="registro">
                    <div class="card-header">
                        <h3>Registro de Usuario</h3>

                    </div>
                    <div class="card-body">
                        <form formGroup>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre de Usuario">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="ejemplo@ejemplo.com">

                            </div>
                            <!--Email-->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <!--Contraseña-->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Repita su Contraseña">
                            </div>
                            <!--Repetir Contraseña-->
                            <div class="row align-items-center remember">
                                <input type="checkbox" id="es_periodista">Es Usted Periodista?
                            </div>
                            <div class="form-group">
                                <!--<button id="btnRegistro" class="btn float-right login_btn">Registrarse</button>-->
                                <button type="submit" id="btnRegistro" class="btn btn-primary float-right">Registrarse</button>
                            </div>
                            <!--Registrar-->
                            <label>Nota: si es usted periodista un Administrador se contactará con usted para validad su identidad y otorgarle los permisos correpondientes</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>