<div class="containerfluid">
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-center h-100">
                <div class="card" id="login">
                    <div class="card-header">
                        <h3>Inicio de Sesion</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input id="mail" type="email" class="form-control" placeholder="ejemplo@ejemplo.com" [(ngModel)]="usuario.Email">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input id="pass" type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.Password">
                            </div>
                            <!--Contraseña-->
                            <div class="row align-items-center remember">
                                <input type="checkbox">Recuerdame
                            </div>
                            <div class="form-group">
                                <button id="btnInicio" class="btn float-right login_btn" (click)="comprobarInicio(usuario)">inicio</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                        <div class="d-flex justify-content-center">
                            <a href="#">Olvidaste tu Contraseña?</a>
                        </div>
                        <!--recuperar contraseña-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center h-100">
                <div class="card" id="registro">
                    <div class="card-header">
                        <h3>Registro de Usuario</h3>

                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre de Usuario" [(ngModel)]="usuario.nick">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="usuario.Nombre">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="usuario.Apellido">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="ejemplo@ejemplo.com" [(ngModel)]="usuario.Email">

                            </div>
                            <!--Email-->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.Password">
                            </div>
                            <!--Contraseña-->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Repita su Contraseña" [(ngModel)]="usuario.confirmacion">
                            </div>
                            <!--Repetir Contraseña-->
                            <div class="row align-items-center remember">
                                <input type="checkbox">Es Usted Periodista?
                            </div>
                            <div class="form-group">
                                <input id="btnRegistro" class="btn float-right login_btn" (click)="comprobarRegistro(usuario)">
                            </div>
                            <!--Registrar-->
                            <label>Nota: si es usted periodista un Administrador se contactará con usted para validad su identidad y otorgarle los permisos correpondientes</label>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>